.navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 90%;
}

.linnks{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: aquamarine;
}

.h1{
    color: rgb(161, 36, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 50px;
    font-family: 'Single Day', cursive;
}