.card_detail{
    background-color: darkcyan;
    height: 500px;
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerh2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.h2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: aqua;
}