html {
   background-image: url('./img/Rectangle10.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center center;
   background-size: cover;
}

/* .App{
   display: flex;
   justify-content: center;
} */
